@model LemonDrop.Website.Mvc.ViewModels.WelcomeInfoVM

@{
    ViewBag.Title = "Welcome";
}

<div class="form-group">
    <h2 class="message">@Model.WelcomeMsg</h2>
</div>
<div class="form-group">
    <h3 class="message">@Model.AccountMsg</h3>
</div>